<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>
<h1></h1>
<header th:replace="~{fragments :: header}"></header>
<h2 th:text="${shift.employee.name}"></h2>
<div class="shift-listing">
    <p>Current Shift:</p>
    <p th:text="${'Day: ' + shift.shiftDay}"></p>
    <p th:text="${'Shift Start: ' + shift.shiftStart}"></p>
    <p th:text="${'Shift End: ' + shift.shiftEnd}"></p>
    <p th:text="${'Hours: ' + shift.getShiftHours()}"></p>
    <p th:if="${shift.role != null}" th:text="${'Role: ' + shift.role.name}"></p>
</div>
<form method="post" action="/shifts/edit">
    <div class="form-group">
        <Label>Day
            <select th:field="${shift.shiftDay}">
                <option th:each="day : ${daysOfWeek}"
                        th:value="${day}"
                        th:text="${day}"
                ></option>
            </select>
        </Label>
        <p class="error" th:errors="${shift.shiftDay}"></p>
    </div>
    <div class="form-group">
        <label>Start Time
            <input type="time" th:field="${shift.shiftStart}" class="form-control"/>
        </label>
        <p class="error" th:errors="${shift.shiftStart}"></p>
    </div>
    <div class="form-group">
        <label>End Time
            <input type="time" th:field="${shift.shiftEnd}" class="form-control"/>
        </label>
        <p class="error" th:errors="${shift.shiftEnd}"></p>
    </div>

    <div class="form-group">
        <label>Role
            <select th:field="${shift.role}">
                <option th:each="role : ${role}"
                        th:value="${role.id}"
                        th:text="${role.name}"
                ></option>
            </select>
            <p class="error" th:errors="${shift.role}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-success">
    </div>


</form>

</body>
</html>