<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>
<h1></h1>
<header th:replace="~{fragments :: header}"></header>
<select name="Month" id="Month">
    <option th:value="0">January</option>
    <option th:value="1">February</option>
    <option th:value="2">March</option>
    <option th:value="3">April</option>
    <option th:value="4">May</option>
    <option th:value="5">June</option>
    <option th:value="6">July</option>
    <option th:value="7">August</option>
    <option th:value="8">September</option>
    <option th:value="9">October</option>
    <option th:value="10">November</option>
    <option th:value="11">December</option>
</select>

<input type="text" id="year"/>
<table class="table table-striped">
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr th:each="week : ${month}">
        <td th:each="day: ${week}">
            <div th:text="${day}"></div>
        </td>
    </tr>

</table>
</body>
</html>