<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <h2 th:text="${headingText}"></h2>
    <p>Unlock the potential of seamless planning and time management with our Employee Schedule Platform.
        Take control of your work life, streamline communication, and enhance collaboration.</p>

    <p>Ready to experience the next level of efficiency? Start optimizing your schedule today!</p>

</main>
<img th:src="@{/images/Employee.png}" width="100%" />

</body>
</html>