<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>
<h1></h1>
<header th:replace="~{fragments :: header}"></header>
<form method="post" action="/employees/edit">
    <div class="form-group">
        <label>
            <input type="hidden" th:value="${employee.id}" name="employeeId">
        </label>
        <label>Name
            <input  th:field="${employee.name}" class="form-control">
        </label>
        <p class="error" th:errors="${employee.name}"></p>
        <label>E-Mail
            <input  th:field="${employee.eMail}" class="form-control">
        </label>
        <p class="error" th:errors="${employee.eMail}"></p>
        <label>Phone Number
            <input  th:field="${employee.phoneNumber}" class="form-control">
        </label>
        <p class="error" th:errors="${employee.phoneNumber}"></p>
    </div>

    <div class="form-group">
        <label th:for="role">Roles</label>
            <th:block th:each="role : ${roles}">
                <input type="checkbox" name="role" th:value="${role.id}" th:field="${employee.role}">
                <label th:text="${role.name}"></label>
            </th:block>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit Employee" class="btn btn-success">
    </div>


</form>

</body>
</html>