<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1></h1>
<header th:replace="fragments :: header"></header>
<form method="post">
    <div>
        <Label>Employee
        <select th:field="${employee.name}">
            <option th:each="name : ${names}"
                    th:value="${name}"
                    th:display="${employee.name}"
            ></option>
        </select>
        </Label>
        <Label>Day</Label>
        <input> <!--select?-->
        <label>Start Time</label>
        <input type="time" name="shiftStart">
        <label>End Time</label>
        <input type="time" name="shiftEnd">
        <label>Submit</label>
        <input type="submit" name="submit">
    </div>
</form>

</body>
</html>